@import './../../style/default.less';
.header{
    background-color:@colorM;
    .header-top{
        height: 60px;
        line-height: 60px;
        padding: 0 20px;
        text-align: right;
        a{
            margin-left: 20px;
            color: rgb(197, 211, 7);
        }
    }
    .breadcrumb{
        border-top: 1px solid rgb(197, 211, 7);
        height: 40px;
        line-height: 40px;
        .breadcrumb-title{
            text-align: center;
            font-size: @fontC;
            &::after{
                position: absolute;
                display: block;
                content: '';
                border-top: 12px solid @colorM;
                border-left: 16px solid transparent;
                border-right: 16px solid transparent;
                top: 39px;
                left: 50%;
                margin-left: -16px;

            }
        }
        .weather{
            text-align: right;
            .weather-detail{margin-right: 20px;margin-left: 20px;}
        }
    }
}