@import './default.less';
@import './loading.less';

ul,li{list-style: none;}
.clearfix{
    &::after{
        content: '';
        display: none;
        clear: both;
        visibility: hidden;
    }
}
.container{
    background: #eee;
    display: flex;
    overflow: auto;
    .nav-left{
        background: pink;
        width: calc(16.6%);
        min-width: 15%;
        min-height: calc(100vh)
    }
    .main{
        flex: 1;
        background: @colorL;
        
        .content{
            margin: 20px;
            background: #fff;
        }
    }
    
}